@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/* Task 15 : Appliquer box-sizing universel */
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* Task 5 : Réduire la taille de police par défaut à 62.5% */
}

/* Définition des propriétés personnalisées dans :root */
:root {
    /* Couleurs */
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);

    --nav-item-link-hover: var(--color-white); /* Modification pour task 29 */

    /* Polices avec les ordres corrigés */
    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

    /* Tailles de police */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    /* Hauteurs de ligne */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Poids de police */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Alignement des titres de section */
    --section-header-align: center;

    /* Transformer le texte en majuscules */
    --section-tagline-transform: uppercase;

    /* Marges et couleur pour les titres de section */
    --section-title-margin: 0;
    --section-title-color: var(--color-black);

    /* Définition des paddings et alignement */
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-body-padding: 0 0 3rem;
    --section-footer-padding: 3rem 0 0;
    --section-footer-align: center;
    --footer-padding: 5rem 0 1rem;

    /* Variables pour les éléments de la barre de navigation */
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: 0.4rem;
    --nav-item-display: inline-block;
    --nav-item-margin: 3rem 0 0 0;
    --nav-item-link-hover: var(--color-primary);

    /* Variable pour la marge de .section-tagline */
    --section-tagline-margin: 0;

    /* Ajouter une bordure au bouton */
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: var(--color-black);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --button-hover-color: var(--color-white);
    --button-hover-text-decoration: none;
    --button-hover-background: var(--color-primary);

    /* Task 28 : Variables pour le header et le logo */
    --header-padding: 4rem 0 0;
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
}

/* Sélecteur pour l'élément header */
.header {
    padding: var(--header-padding);
}

/* Sélecteur pour l'élément logo dans le header */
.header-logo {
    position: var(--header-logo-position);
}

/* Ciblage du lien à l'intérieur de l'élément header-logo */
.header-logo a {
    display: var(--header-logo-link-display);
    position: var(--header-logo-link-position);
    top: var(--header-logo-link-top);
    left: var(--header-logo-link-left);
}

/* Ciblage du lien dans l'élément de navigation */
.nav .nav-link {
    position: relative;
    text-decoration: none;
}

/* Pseudo-élément ::before pour le lien de navigation */
.nav .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 0;
    height: 20%;
    transition: width 0.3s ease;
}

/* Changement de couleur et largeur lors du survol de nav-item */
.nav .nav-item:hover .nav-link::before {
    background-color: var(--color-primary);
    width: 100%;
}

/* Survol pour les liens de navigation */
.nav .nav-link:hover {
    color: var(--nav-item-link-hover);

}

/* Appliquer les couleurs et polices de base au body */
body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

/* Ciblage de la section-hero */
.section-hero {
    background-size: 90rem auto;
}

/* Ciblage du titre de la section (section-title) */
.section-hero .section-title {
    margin-bottom: 5rem;
}

/* Ciblage de l'élément intérieur de la section (section-inner) */
.section-hero .section-inner {
    padding: 10rem 40rem 2rem 0;
}

/* Style général pour tous les liens */
a {
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: var(--color-light-grey);
}

.section {
    padding: var(--section-padding);
}

.section-header {
    padding: var(--section-header-padding);
    text-align: var(--section-header-align);
}

.section-body {
    padding: var(--section-body-padding);
}

.section-footer {
    padding: var(--section-footer-padding);
    text-align: var(--section-footer-align);
}

/* Cibler toutes les classes commençant par "col-" */
[class^="col-"] {
    float: left;
    padding: 0.5rem;
}

.col-1-3 {
    width: 33.33%;
}

.col-1-2 {
    width: 50%;
}

.nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
}

.nav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav .nav-link:hover {
    color: var(--nav-item-link-hover);
}

.navbar-menu {
    float: right;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}

.section-tagline,
.card-category {
    font-family: var(--font-family-title);
    text-transform: var(--section-tagline-transform);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
    margin: var(--section-tagline-margin);
}

/* Cibler .card-title à l'intérieur de .card-services */
.card-services .card-title {
    margin: 0;
}

/* Cibler les liens <a> à l'intérieur de .card-services */
.card-services a {
    display: block;
    padding: 2rem;
    background-color: var(--color-light-grey);
}

/* Ajouter un état hover pour les liens <a> */
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

/* Styles de grille pour la classe .row */
.row {
    margin: 0;
    padding: 0;
    list-style: none;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles pour la section avec le thème sombre */
[data-section-theme="dark"] {
    --text-color: var(--color-white);
    --section-title-color: var(--color-white);
    background-color: var(--color-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

.button {
    display: var(--button-display);
    padding: var(--button-padding);
    border: var(--button-border);
    font-size: var(--button-font-size);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
}

.button:hover {
    color: var(--button-hover-color);
    background-color: var(--button-hover-background);
    text-decoration: var(--button-hover-text-decoration);
}

[data-section-theme="dark"] {
    --button-color: var(--color-white);
}

/* Centrer le texte à l'intérieur */
.card-testimonial {
    text-align: center;
}

.card-testimonial .card-avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-testimonial .card-quote cite {
    display: block;
    padding-top: 1rem;
    color: var(--color-primary);
}

/* Ciblage de .card-outer dans .card-work */
.card-work .card-outer {
    position: relative;
    overflow: hidden;
}

/* Ciblage de l'image dans .card-image à l'intérieur de .card-work */
.card-work .card-image img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* Ciblage de .card-inner dans .card-work */
.card-work .card-inner {
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    right: -0.1rem;
    z-index: 1;
}

/* Survol de .card-work pour changer la couleur d'arrière-plan de .card-inner */
.card-work:hover .card-inner {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Ciblage de .card-title dans .card-work */
.card-work .card-title {
    text-align: center;
    margin: 0;
    opacity: 0;
    height: 100%;
    position: relative;
}

/* Ciblage du lien dans .card-title et .card-work */
.card-work .card-title a {
    display: block;
    text-decoration: none;
    padding-top: 45%;
}

/* Pseudo-élément ::after pour le lien dans .card-title et .card-work */
.card-work .card-title a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Ciblage de .card-title lorsque .card-work est survolé */
.card-work:hover .card-title {
    opacity: 1;
}

.footer {
    padding: var(--footer-padding);
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer-copyright {
    margin: 0;
    font-size: var(--font-size-small);
    color: var(--text-color);
}

.footer-address {
    color: var(--text-color);
}

.social-link {
    display: block;
}

.social-link svg {
    fill: var(--text-color);
}

.visually-hidden {
    display: none;
}
